@charset "utf-8";

:root {
  scroll-behavior: auto;
  /* ハンバーガーを閉じた後のスクロール対策 */
}

/* ヘッダー */
nav h1, .navbar-brand {
  font-size: 0;
  margin-bottom: 0;
}

header {
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
}

.pc-top-band-wrap {
  display: none;
}

.logo-wrap {
  padding: 3px 15px;
}

.logo-wrap img {
  width: 140px;
  transition: .3s;
}

.logo-inner {
  line-height: 1.2;
}

.navbar-nav {
  display: block;
  padding: 50px 0 0;
}

.navbar-nav>li.menu-item>a {
  color: #333;
  font-size: .875rem;
  font-weight: 700;
  position: relative;
  border-top: 1px solid #e6e6e6;
  padding: 9px 5px;
  display: block;
  margin: 0;
}

.navbar-nav>li.menu-item:last-child>a {
  border-bottom: 1px solid #e6e6e6;
}

.burger-btn {
  width: 38px;
  height: 38px;
  position: fixed;
  top: 2px;
  right: 10px;
  background-color: transparent;
  border: none;

}

.burger-btn_close {
  z-index: 995;
  opacity: 1;
}

.burger-btn_open {
  z-index: 1;
  opacity: 0;
}

.nav-open .burger-btn_open {
  z-index: 995;
  opacity: 1;
}

.nav-open .burger-btn_close {
  z-index: 1;
  opacity: 0;
}

.burger-btn:hover {
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 2px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  transition: .2s;
  visibility: visible;
}

.bar_top {
  top: 10px;
}

.bar_mid {
  top: 50%;
  margin-top: -1px;
  /*transform: translate(-50%,-50%);*/
}

.bar_bottom {
  bottom: 10px;
}

.nav-open .burger-btn .bar_top {
  transform: translate(-50%, 8px) rotate(45deg);
}

.nav-open .burger-btn .bar_mid {
  opacity: 0;
  transition: opacity .3s;
}

.nav-open .burger-btn .bar_bottom {
  transform: translate(-50%, -8px) rotate(-45deg);
}

.nav-wrapper {
  width: 60%;
  min-width: 280px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 400;
  transition: .3s;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.nav-open .nav-wrapper {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.noscroll {
  overflow-y: hidden;
}

.scroll-prevent {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.header-nav {
  width: auto;
  height: 100%;
  background-color: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 15;
}

.nav-open .nav-wrapper .header-nav {
  overflow-y: auto;
}

.header-nav.navbar-nav {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header-nav.menu-item {
  margin-right: 0;
  margin-bottom: 40px;
}

.menu-black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  cursor: pointer;
  border: none;
}

#nav-tgl {
  display: none;
}

.nav-open .menu-black-bg {
  opacity: 0.3;
  visibility: visible;
}

.navbar-nav>li>.sub-menu {
  display: none;
  margin-bottom: 0;
}

header .sub-menu>li {
  padding-left: 20px;
}

header .sub-menu>li>a {
  display: block;
  padding: 6px 0 6px 30px;
  border-top: 1px solid #e6e6e6;
  position: relative;
  color: #333;
}

header .sub-menu>li>a::before {
  content: '';
  position: absolute;
  top: 49%;
  left: 6px;
  width: 15px;
  height: 1px;
  background-color: #333;
}

.header-nav ul li {
  position: relative;
}

header .accordionBtn {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 33px;
  height: 39px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

header .accordionBtn::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  right: 12px;
  width: 13px;
  height: 1px;
  background-color: #666;
}

header .accordionBtn::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  right: 18px;
  width: 1px;
  height: 13px;
  background-color: #666;
  opacity: 1;
}

header .accordionBtn.chlidnav-opened::after {
  opacity: 0;
}

.pc-search {
  display: none;
}

.sp-nav-sub {
  padding-top: 20px;
}

.sp-nav-sub a {
  padding: 2px 5px 2px 20px;
  position: relative;
  display: block;
  color: #333;
}

.sp-nav-sub a:hover {
  color: #333;
}

.sp-nav-sub a::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 3px;
  width: 5px;
  height: 5px;
  border-top: 1px solid #666;
  border-right: 1px solid #666;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.sp-search form {
  position: relative;
}

.sp-search input {
  width: 100%;
  height: 35px;
  padding: 2px 5px;
}

.sp-search button {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 46%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  right: 5px;
}

/*
.navbar-nav li.menu-item.current-menu-item > a,
.single-post .navbar-nav li.nav-news a, .category .navbar-nav li.nav-news a,
.single-event .navbar-nav li.nav-event a, .tax-event_taxonomy .navbar-nav li.nav-event a {
  background-color: #f0f0f0;
}*/
/* 上から降りてくるヘッダー */
.global-navi_fixed {
  display: none;
}

/* //上から降りてくるヘッダー */

.header-tel {
  margin-top: 20px;
  margin-bottom: 43px;
}

.header-tel__number {
  font-weight: bold;
}

.header-tel__number img {
  margin-right: 5px;
}

.header-tel__time {
  font-size: 12px;
}

.header-contact {
  background-color: var(--base-blue);
  color: #fff;
  padding: 28px 31px;
}

.header-contact img {
  margin-right: 5px;
}

@media all and (min-width: 992px) {

  .logo-wrap {
    padding: 10px 15px 10px 5.21%;
  }

  .header-nav {
    display: flex;
    padding-right: 0;
  }

  .scroll-prevent {
    position: initial;
    z-index: 1;
    width: auto;
    height: auto;
  }

  body {
    padding-right: 0 !important;
  }

  .nav-open .nav-wrapper .header-nav {
    overflow-y: inherit;
  }

  .navbar-nav>li.menu-item {
    padding: 0 8px;

  }

  .navbar-nav>li.menu-item>a {
    border: none;
    padding: 8px 0;

  }

  .navbar-nav>li.menu-item:last-child a {
    border-bottom: none;

  }

  .header-tel {
    margin: 15px 28px 0px 15px;
  }

  .header-tel__number {
    font-size: 18px;
    margin-bottom: 0;
  }

  .header-tel__time {
    font-size: 12px;
  }

  .header-contact {
    font-size: 18px;
  }

  .header-tel__number img {
    width: 20px;
    height: 20px;
  }

  .header-contact {
    padding: 28px 15px;
  }

  /*
  .navbar-nav li.menu-item.current-menu-item > a,
  .single-post .navbar-nav li.nav-news a, .category .navbar-nav li.nav-news a,
  .single-event .navbar-nav li.nav-event a, .tax-event_taxonomy .navbar-nav li.nav-event a {
    background-color: transparent;
  }*/
  .navbar-nav li.menu-item.current-menu-item>a::before,
  .single-post .navbar-nav li.nav-news a::before, .category .navbar-nav li.nav-news a::before,
  .single-event .navbar-nav li.nav-event a::before, .tax-event_taxonomy .navbar-nav li.nav-event a::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 1px;
    background: #333;
  }

  .nav-wrapper {
    width: auto;
    height: auto;
    position: relative;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    display: flex;
    height: 80px;
  }

  .burger-btn {
    display: none;
  }

  .nav-open .menu-black-bg {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navbar-nav {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .logo-wrap img {
    width: 220px;
  }

  /* 上から降りてくるヘッダー */
  .global-navi_fixed {
    position: fixed;
    top: -55px;
    left: 0;
    display: flex;
    z-index: 999;
    background: rgba(255, 255, 255, .8);
    width: 100%;
    transition: .3s;
  }

  .global-navi_fixed.global-navi_fadein {
    top: 0;
  }

  .logo-wrap_fixed {
    padding: 10px 15px;
  }

  .logo-wrap_fixed img {
    width: 150px;
  }

  /* //上から降りてくるヘッダー */
  .sp-search {
    display: none;
  }

  .search-btn-wrap {
    text-align: center;
    display: block;
    position: relative;
    width: 36px;
  }

  .search-btn-wrap.pc-search {
    margin-left: 15px;
  }

  .search-btn-inner {
    padding: 0px 0 2px 15px;
    border-left: 1px solid #888;
    width: 36px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 0;
  }

  .search-btn-wrap .icon-search {
    width: 18px;
    cursor: pointer;
    display: inline-block;
  }

  .search-btn-inner form {
    position: relative;
  }

  .search-btn-inner input {
    width: 0;
    border: none;
    pointer-events: none;
    transition: .3s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 25px;
    height: 37px;
    background: transparent;
    opacity: 0;
  }

  .search-btn-inner button {
    pointer-events: none;
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .search-btn-inner button:hover {
    opacity: .7;
    transition: .3s;
  }

  .search-btn-inner.searchactive input {
    width: 240px;
    pointer-events: auto;
    padding: 2px 7px;
    border-radius: 3px;
    opacity: 1;
    background-color: #fff;
    border: 1px solid #666;
    border-radius: 40px;
  }

  .search-btn-inner.searchactive button {
    pointer-events: auto;
  }

  .pc-top-band-wrap {
    display: flex;
    justify-content: space-between;
    font-size: .8125rem;
    padding: 5px 15px;
    background-color: #F7F7F7;
  }

  .pc-top-band-wrap a, .pc-top-band-wrap a:hover {
    color: #333;
  }

  header {
    height: 80px;
  }

  .header-top-menu {
    display: flex;
    background-color: #F7F7F7;
    margin-bottom: 0;
  }

  .header-top-menu li:not(:last-child) {
    padding-right: 10px;
  }

  .header-nav {
    background-color: transparent;
  }

  header .accordionBtn {
    display: none;
  }

  .navbar-nav>li>.sub-menu {
    display: block !important;
  }

  .navbar-nav>li>.sub-menu {
    opacity: 0;
    pointer-events: none;
    transition: .2s;
    position: absolute;
    top: 100%;
    left: 0;
    overflow: hidden;
    width: max-content;
    visibility: hidden;
    transform: translateY(10px);
  }

  header .menu-item-has-children:hover>.sub-menu, header .menu-item-has-children.focused .sub-menu {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  header .menu-item-has-children>.sub-menu>li {
    padding-left: 0;
  }

  header .menu-item-has-children:hover>.sub-menu>li {}

  header .menu-item-has-children>.sub-menu>li>a {
    font-size: .875rem;
    padding: 4px 15px;
    width: 100%;
    min-width: 100%;
    border: none;
    background-color: #fff;
    height: 100%;
    transition: .2s;
  }

  header .menu-item-has-children>.sub-menu>li>a:hover, header .menu-item-has-children>.sub-menu>li>a:focus {
    opacity: .8;
  }

  header .menu-item-has-children>.sub-menu>li>a::before {
    display: none;
  }

  .noscroll {
    overflow-y: auto;
  }

  .menu-black-bg.blackBg_active {
    visibility: hidden;
  }

  .navbar-nav>li>.sub-menu>li .sub-menu li a {
    padding: 3px 15px 3px 35px;
  }
}

@media all and (min-width: 1200px) {
  .header-contact {
    padding: 28px 40px;
  }

  .navbar-nav>li.menu-item>a {
    font-size: 1rem;

  }

  .navbar-nav>li.menu-item {
    padding: 0 25px;

  }

  .header-tel__number {
    font-size: 20px;
    margin-bottom: 0;
  }

  .header-tel__time {
    font-size: 14px;
  }
}

/* //ヘッダー */

/* フッター */
.footer-wrap {
  background-color: var(--base-gray);
  padding: 50px 0 0;
}


.footer-content-menu {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-inline: auto;
}

.footer-content-menu-info {
  width: 100%;
  text-align: center;
}

.footer-ad {
  font-size: .875rem;
  padding-top: 15px;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-nav>li {

  position: relative;
}

.footer-nav a {
  font-size: .875rem;
  display: inline-block;
  color: #fff;
}

.footer-nav a:hover {
  color: #fff;
}

.footer-nav>li>a {
  font-weight: 700;
  display: block;
  width: 100%;
  padding: 10px 7px;
}


.footer-nav .menu-item-has-children>.sub-menu>li>a {
  padding: 0 22px 5px;
}

.footer-nav .accordionBtn {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 33px;
  height: 42px;
  /* 縦に中央になるよう、.footer-nav > liの縦幅を入力 */
  cursor: pointer;
}

.footer-nav .accordionBtn::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  right: 12px;
  width: 13px;
  height: 1px;
  background-color: #666;
}

.footer-nav .accordionBtn::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  right: 18px;
  width: 1px;
  height: 13px;
  background-color: #666;
  opacity: 1;
}

.footer-nav .accordionBtn.chlidnav-opened::after {
  opacity: 0;
}

.footer-nav .sub-menu {
  display: none;
}

footer .accordionBtn {
  display: none;
}

.footer-copy {
  font-size: .75rem;
}

.footer-logo {
  width: 72px;
}

.footer-copy-wrap {
  padding: 43px 0;
  color: #FFF;
  text-align: center;
}

.pagetop-wrap {
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
  visibility: visible;
}

.pagetop-wrap.pagetop-fadein {
  opacity: 1;
  pointer-events: auto;
}

.pagetop-inner {
  position: fixed;
  right: 10px;
  bottom: 10px;
  height: 45px;
  width: 45px;
  z-index: 300;
  background: #444;
  color: #fff;
  padding-top: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  visibility: visible;
  transition: .3s;
}

.pagetop-inner::before {
  content: '';
  width: 10px;
  height: 10px;
  border-top: 2px solid #FFFFFF;
  border-right: 2px solid #FFFFFF;
  position: absolute;
  top: 9px;
  right: 0;
  left: 0;
  margin: auto;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.pagetop-inner:hover {
  box-shadow: 0 0 10px rgb(0, 0, 0, .4);
}

@media all and (min-width: 768px) {
  .footer-nav a{
    font-size: 1rem;
  }
  .footer-nav {
    grid-template-columns: repeat(5, 1fr);
  }

  .footer-nav>li:last-child>a {
    font-size: 1rem;
  }

  .footer-nav>li>a {
    padding: 5px 15px;
  }
}

@media all and (min-width: 992px) {
  .footer-content {
    flex-wrap: nowrap;
  }

  .footer-content-menu {
    width: max-content;
    order: 1;
    margin-bottom: 0;
    margin-top: 1.3rem;
  }

  .footer-nav {
    flex-wrap: nowrap;
  }

  .footer-nav>li {
    width: auto;
  }

  .footer-nav>li>a {
    border-top: none;
    padding: 5px 25px;
  }

  .footer-nav>li:last-child>a {
    border-bottom: none;
  }

  .footer-nav .accordionBtn {
    display: none;
  }

  .footer-nav .menu-item-has-children .sub-menu {
    display: block !important;
  }

  .footer-nav .menu-item-has-children>.sub-menu>li>a {
    padding: 2px 15px;
  }

  .pagetop-inner {
    right: 15px;
    bottom: 15px;
  }
}

@media (min-width: 1200px) {}

/* //フッター */

/* フッターの下に余白ができないように */
/* body {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
} */

.header-and-main {
  width: 100%;
}

footer {
  width: 100%;
}

/* //フッターの下に余白ができないように */
@media all and (min-width: 576px) {}

@media all and (min-width: 768px) {}

@media all and (min-width: 992px) {}

@media all and (min-width: 1200px) {}

@media all and (min-width: 1400px) {}

/*デスクトップ*/
@media all and (min-width: 992px) and (max-width: 1199px) {}

/*中デバイス*/
@media all and (min-width: 768px) and (max-width: 991px) {}

/*小デバイス*/
@media all and (min-width: 576px) and (max-width: 767px) {}

@media all and (max-width: 400px) {}

/*iPhone5:SE*/
@media all and (max-width: 320px) {}