@charset "utf-8";

.service .head-ttl-wrap {
    background-image: url(../images/service/head-bg-service.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 58% 37%;
}

@media all and (min-width: 1400px) {
    .service .head-ttl-wrap {
        background-position: 0 0;
    }
}

.service-sec {
    background-color: var(--bg-lightblue);
}


.icon-card {
    margin-bottom: 50px;
    max-width: 350px;
    margin-inline: auto;
    padding: 0 15px;
}

.icon-card-img {
    margin-bottom: 20px;
}

.icon-card-ttl {
    font-weight: 600;
    text-align: center;
    font-size: 1.625rem;
}

@media all and (min-width: 576px) {
    .icon-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
}

@media all and (min-width: 768px) {
    .service-txt {
        text-align: center;
    }
}

@media all and (min-width: 992px) {
    .icon-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .icon-card-img {
        margin-bottom: 30px;
    }

    .icon-card-ttl {
        font-size: 1.5rem;
    }
}

@media all and (min-width: 1200px) {
    .icon-card-ttl {
        font-size: 1.625rem;
    }
}

@media all and (min-width: 1400px) {
    @media all and (min-width: 1400px) {
        .icon-card {
            padding: 0 36px;
        }
    }

}

/* products */
.products-sec {
    background-color: var(--bg-lightblue);
}

.products-table {
    width: 100%;
}

.products-table td,
.products-table th {
    padding: 15px 10px;
    font-size: 0.875rem;
}

.products-table td {
    background-color: #fff;
    border: 1px solid #c0c0c0;
}

.products-table th:first-child {
    border-right: 1px solid #c0c0c0;
}

.table-blue {
    background-color: var(--base-blue);
    color: #fff;
}

.products-table td:first-child {
    width: 27%;
    font-weight: 600;
}

@media all and (min-width: 768px) {

    .products-table td,
    .products-table th {
        padding: 17px;
        font-size: 1rem;
    }
}

/* //products */